<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

<!--    bean层的别名-->
    <typeAliases>
        <package name="com.haoranwei.bean"/>
    </typeAliases>

<!--    注意，请在这里维护Mapper.xml-->
    <mappers>
        <mapper resource="com/haoranwei/mapper/cusDocMapper.xml"/>
        <mapper resource="com/haoranwei/mapper/loanApplyMapper.xml"/>
        <mapper resource="com/haoranwei/mapper/repayManageMapper.xml"/>
        <mapper resource="com/haoranwei/mapper/lendManageMapper.xml"/>
    </mappers>

</configuration>